<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layout">
<head>

<title th:text="#{userlist}"></title>

</head>
<body>

	<div class="row" layout:fragment="content" style="margin-top:50px;">

		<div class="col-md-12">
			<div class="panel">
				<div class="panel-heading">
					<div class="panel-title">
						<h5 th:text="#{userlist}"></h5>
					</div>
				</div>
				<div class="panel-body p-20">
					<table class="table table-striped">
						<thead>
							<tr class="primary">
								<th th:text="#{id}"></th>
								<th th:text="#{username}"></th>
								<th th:text="#{email}"></th>
								<th th:text="#{gender}"></th>
								<th th:text="#{phonenumber}"></th>
								<th th:text="#{status}"></th>
								<th th:text="#{action}"></th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="user : ${USERLIST}">
								<td th:text="${user.id}"></td>
								<td th:text="${user.username}"></td>
								<td th:text="${user.email}"></td>
								<td th:text="${user.gender} == 'M' ? 'Male' : 'Female'"></td>
								<td th:text="${user.phonenumber}"></td>
								<td th:text="${user.status} == 'Y' ? 'Active' : 'UnActive'"></td>
								<!-- <td th:text="${#dates.format(user.created_date, 'dd-MMM-yyyy')}"></td> -->
								<td>
									<a th:href="@{/user-detail/{user_hash}(user_hash=${user.user_hash})}" class="btn btn-primary btn-rounded icon-only btn-xs" th:title="#{detail}">Detail</i></a>
									<a th:href="@{/update/{user_hash}(user_hash=${user.user_hash})}" class="btn btn-success btn-rounded icon-only btn-xs" th:title="#{update}">Edit</i></a>
									<a th:href="@{/delete/{user_hash}(user_hash=${user.user_hash})}" class="btn btn-danger btn-rounded icon-only btn-xs" th:title="#{delete}" onclick="return confirm('Are you sure you want to delete this item?');">Delete</i></a>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>


<script type="javascript">

	function deleteUserRow(){
		alert("hello");
	}
	
</script>

</body>
</html>