	<!-- ========== COMMON JS FILES ========== -->
	<script th:src="@{/resources/js/jquery/jquery-2.2.4.min.js}"></script>
	<script th:src="@{/resources/js/jquery-ui/jquery-ui.min.js}"></script>
	<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script>
	<script th:src="@{/resources/js/pace/pace.min.js}"></script>
	<script th:src="@{/resources/js/lobipanel/lobipanel.min.js}"></script>
	<script th:src="@{/resources/js/iscroll/iscroll.js}"></script>
	
	<!-- ========== PAGE JS FILES ========== -->
	<script th:src="@{/resources/js/prism/prism.js}"></script>
	<script th:src="@{/resources/js/waypoint/waypoints.min.js}"></script>
	<script th:src="@{/resources/js/counterUp/jquery.counterup.min.js}"></script>
	<script th:src="@{/resources/js/amcharts/amcharts.js}"></script>
	<script th:src="@{/resources/js/amcharts/serial.js}"></script>
	<script th:src="@{/resources/js/amcharts/plugins/export/export.min.js}"></script>

	<script th:src="@{/resources/js/amcharts/themes/light.js}"></script>
	<script th:src="@{/resources/js/toastr/toastr.min.js}"></script>
	<script th:src="@{/resources/js/icheck/icheck.min.js}"></script>
	
	<!-- ========== THEME JS ========== -->
	<script th:src="@{/resources/js/main.js}"></script>
	<script th:src="@{/resources/js/production-chart.js}"></script>
	<script th:src="@{/resources/js/traffic-chart.js}"></script>
	<script th:src="@{/resources/js/task-list.js}"></script>