<!-- 	<!-- ========== COMMON JS FILES ========== --> -->
<!-- 	<script th:src="@{/resources/js/jquery/jquery-2.2.4.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/jquery-ui/jquery-ui.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/bootstrap/bootstrap.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/pace/pace.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/lobipanel/lobipanel.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/iscroll/iscroll.js}"></script> -->
	
<!-- 	<!-- ========== PAGE JS FILES ========== --> -->
<!-- 	<script th:src="@{/resources/js/prism/prism.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/waypoint/waypoints.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/counterUp/jquery.counterup.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/amcharts/amcharts.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/amcharts/serial.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/amcharts/plugins/export/export.min.js}"></script> -->

<!-- 	<script th:src="@{/resources/js/amcharts/themes/light.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/toastr/toastr.min.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/icheck/icheck.min.js}"></script> -->
	
<!-- 	<!-- ========== THEME JS ========== --> -->
<!-- 	<script th:src="@{/resources/js/main.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/production-chart.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/traffic-chart.js}"></script> -->
<!-- 	<script th:src="@{/resources/js/task-list.js}"></script> -->
	
	
	
<!-- 	phen script -->
	<!-- build:js scripts/app.html.js} -->
<!-- jQuery -->
  <script th:src="@{/resources/admin/libs/jquery/jquery/dist/jquery.js}"></script>
<!-- Bootstrap -->
  <script th:src="@{/resources/admin/libs/jquery/tether/dist/js/tether.min.js}"></script>
  <script th:src="@{/resources/admin/libs/jquery/bootstrap/dist/js/bootstrap.js}"></script>
<!-- core -->
  <script th:src="@{/resources/admin/libs/jquery/underscore/underscore-min.js}"></script>
  <script th:src="@{/resources/admin/libs/jquery/jQuery-Storage-API/jquery.storageapi.min.js}"></script>
  <script th:src="@{/resources/admin/libs/jquery/PACE/pace.min.js}"></script>

  <script th:src="@{/resources/admin/scripts/config.lazyload.js}"></script>

  <script th:src="@{/resources/admin/scripts/palette.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-load.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-jp.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-include.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-device.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-form.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-nav.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-screenfull.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-scroll-to.js}"></script>
  <script th:src="@{/resources/admin/scripts/ui-toggle-class.js}"></script>

  <script th:src="@{/resources/admin/scripts/app.js}"></script>

  <!-- ajax -->
  <script th:src="@{/resources/admin/libs/jquery/jquery-pjax/jquery.pjax.js}"></script>
  <script th:src="@{/resources/admin/scripts/ajax.js}"></script>
<!-- endbuild -->
	