	<!-- ========== COMMON STYLES ========== -->
	<link rel="stylesheet" th:href="@{/resources/css/bootstrap.min.css}" media="screen">
	<link rel="stylesheet" th:href="@{/resources/css/font-awesome.min.css}" media="screen">
	<link rel="stylesheet" th:href="@{/resources/css/animate-css/animate.min.css}" media="screen">
	<link rel="stylesheet" th:href="@{/resources/css/lobipanel/lobipanel.min.css}" media="screen">
	
	<!-- ========== PAGE STYLES ========== -->
	<link rel="stylesheet" th:href="@{/resources/css/toastr/toastr.min.css}" media="screen" >
    <link rel="stylesheet" th:href="@{/resources/css/icheck/skins/line/blue.css}" >
    <link rel="stylesheet" th:href="@{/resources/css/icheck/skins/line/red.css}" >
    <link rel="stylesheet" th:href="@{/resources/css/icheck/skins/line/green.css}" >
    
    <!-- ========== THEME CSS ========== -->
    <link rel="stylesheet" th:href="@{/resources/css/main.css}" media="screen" >
    
    <link rel="stylesheet" th:href="@{/resources/js/amcharts/plugins/export/export.css}"
		type="text/css" media="all" />
		
		
		
		
		
		
		
<!-- 		phen script -->

  <!-- style -->
  <link rel="stylesheet" th:href="@{/resources/admin/assets/animate.css/animate.min.css}" type="text/css" />
  <link rel="stylesheet" th:href="@{/resources/admin/assets/glyphicons/glyphicons.css}" type="text/css" />
  <link rel="stylesheet" th:href="@{/resources/admin/assets/font-awesome/css/font-awesome.min.css}" type="text/css" />
  <link rel="stylesheet" th:href="@{/resources/admin/assets/material-design-icons/material-design-icons.css}" type="text/css" />

  <link rel="stylesheet" th:href="@{/resources/admin/assets/bootstrap/dist/css/bootstrap.min.css}" type="text/css" />
  <!-- build:css assets/styles/app.min.css -->
  <link rel="stylesheet" th:href="@{/resources/admin/assets/styles/app.css}" type="text/css" />
  <!-- endbuild -->
  <link rel="stylesheet" th:href="@{/resources/admin/assets/styles/font.css}" type="text/css" />